<mat-toolbar color="primary" [class.sem-sombra]="drawer?.opened">

  <span class="logo-app" routerLink="/menu">FateConnect</span>

  <div class="desktop-menu">
    <button mat-button routerLink="/achados-perdidos">Achados & Perdidos</button>
    <button mat-button routerLink="/caronas">Caronas</button>
    <button mat-button routerLink="/contato">Entre em Contato</button>
  </div>

  <button mat-icon-button class="mobile-menu-btn" (click)="drawer?.toggle()">
    <fa-icon [icon]="iconeHambuguer" size="lg"></fa-icon>
  </button>

</mat-toolbar>
