mat-toolbar {
  transition: box-shadow 0.3s ease;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw;

  color: var(--app-texto-fundo-forte);

  &.sem-sombra {
    box-shadow: none;
  }
}

.desktop-menu {
  display: flex;
  gap: 2vw;

  button {
    font-weight: 500;
    color: var(--app-texto-fundo-forte);
  }
}

.logo-app {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--app-texto-fundo-forte);
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.mobile-menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .mobile-menu-btn {
    display: flex;
    align-items: center;
    width: 48px;
  }

  .desktop-menu {
    display: none;
  }
}
