<div class="caronas-header">
  <app-typography class="titulo-pagina" variant="h1">Caronas</app-typography>
  <a class="btn-voltar" routerLink="/menu">
    <fa-icon [icon]="iconeVoltar"></fa-icon>
    <app-typography variant="subtitle-bold">Voltar</app-typography>
  </a>
</div>

<div class="caronas-tabs">
  <a
    class="tab left"
    routerLink="buscar"
    routerLinkActive="ativo"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <fa-icon [icon]="iconeBuscar"></fa-icon>
    <app-typography variant="subtitle-bold">Buscar Carona</app-typography>
  </a>
  <a
    class="tab right"
    routerLink="ofertar"
    routerLinkActive="ativo"
  >
    <fa-icon [icon]="iconeAdicionar"></fa-icon>
    <app-typography variant="subtitle-bold">Ofertar Carona</app-typography>
  </a>
</div>

<router-outlet></router-outlet>
