<div class="footer">
  <div class="contacts-container">
    <p class="footer-title">Entre em contato</p>
    <span><fa-icon [icon]="faEnvelope" size="sm"></fa-icon> f003.alunos@fatec.sp.gov.br</span>
    <span><fa-icon [icon]="faPhone" size="sm"></fa-icon> (15) 3238-5266</span>
    <span><fa-icon [icon]="faLocationDot" size="sm"></fa-icon> Av. Eng. Carlos Reinaldo Mendes, 2015</span>
  </div>

  <div class="divider-container"></div>

  <div class="copyright-container">
    <p>© 2026 FateConnect. Todos os direitos reservados.</p>
    <p>Desenvolvido para facilitar a vida do Fatecano.</p>
  </div>
</div>
