:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 400px;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button {
  min-width: 120px;
  border-radius: var(--app-borda-componentes);
  font-weight: 600;
  color: var(--app-texto-fundo-forte) !important;
  letter-spacing: 0.4px;

  @media (max-width: 768px) {
    min-width: 100px;
  }
}
