:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 7vw;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--app-cor-principal);
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--app-texto-sobre-branco);
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  border-width: 0;
  min-width: 300px;
  height: auto;
  background-color: var(--app-fundo-branco);

  &:hover {
    background-color: var(--app-fundo-hover);
  }
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--app-cor-destaque);
}

fa-icon {
  font-size: 32px;
  color: var(--app-fundo-branco);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--app-cor-principal);
}
