@use '@angular/material' as mat;
@use 'sass:color';

$cor-principal-base: #43545C;
$cor-destaque-base: #CF2E2E;

$primary-palette: mat.m2-define-palette((
  100: color.scale($cor-principal-base, $lightness: +25%),
  500: $cor-principal-base,
  700: color.scale($cor-principal-base, $lightness: -20%),

  contrast: (
    100: black,
    500: white,
    700: white,
  )
));

$accent-palette: mat.m2-define-palette((
  100: color.scale($cor-destaque-base, $lightness: +25%),
  500: $cor-destaque-base,
  700: color.scale($cor-destaque-base, $lightness: -20%),

  contrast: (
    100: black,
    500: white,
    700: white,
  )
));

$tema-claro: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette
  ),
  density: 0
));

@include mat.all-component-themes($tema-claro);

html,
body,
* {
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --app-cor-principal: #43545C;

  --app-fundo-cinza: #F0F2F4;
  --app-fundo-branco: #FFFFFF;
  --app-fundo-hover: rgba(255, 255, 255, 0.6);

  --app-texto-sobre-branco: #6C757D;
  --app-texto-sobre-cinza: #747D84;
  --app-texto-fundo-forte: rgba(255,255,255,0.9);

  --app-cor-destaque: #CF2E2E;

  --app-sucesso-fonte: #155724;
  --app-sucesso-fundo: #D4EDDA;

  --app-warning-fonte: #856404;
  --app-warning-fundo: #FFF3CD;

  --app-alerta-fonte: #CF2E2E;
  --app-alerta-fundo: #FFDFDF;

  --app-divisor: #FFFFFF80;

  --app-sombra-componentes: 0 2px 5px rgba(0,0,0,0.08);
  --app-borda-componentes: 8px;
  --app-tamanho-texto-fonte: 0.95rem;
  --app-tamanho-tag-fonte: 0.8rem;
  --app-tamanho-subtitulo-fonte: 1.1rem;
  --app-tamanho-padrao-icone: 16px;

  @include mat.list-overrides((
    list-item-label-text-color: var(--app-texto-fundo-forte),
    list-item-leading-icon-start-space: 7vw,
    list-item-leading-icon-end-space: 7vw,
    list-item-focus-label-text-color: var(--app-texto-fundo-forte),
  ));

  @include mat.dialog-overrides((
    container-shape: 16px,
    subhead-color: var(--app-cor-principal),
    supporting-text-color: var(--app-cor-principal),
  ));

  @include mat.snack-bar-overrides((
    button-color: var(--app-texto-sobre-branco),
    supporting-text-color: var(--app-texto-sobre-branco),
  ));
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background-color: var(--app-sucesso-fundo);
}
.mat-mdc-snack-bar-container.snackbar-error .mdc-snackbar__surface {
  background-color: var(--app-alerta-fundo);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--app-borda-componentes);
}
